body{
    position: relative;
    overflow-x: hidden;

}
.fa{
    font-size:30px !important;
    margin-right: 10px;
}
.carousel-item img{
    height: 400px;
  
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.slide1{
  background-color: black;
}

.intro{
  padding-left:30px ;
  padding-right:30px ;
}
.intro h8{
  font-family: cursive;
  font-style: oblique;
}
.featured{
  padding-left:10% ;
  padding-right:10% ; 

  
}
.tour{
    height: 240px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.foot{
  background-color:#e3e7f1;
  width: 100%;
}
.card:hover img{    
  animation: shake 0.5s;
}@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}
#wheretogo .card{
  height: 500px;
}
