body{
    position: relative;
    overflow-x: hidden;

}
.fa{
    font-size:30px !important;
    margin-right: 10px;
}
.carousel-item img{
    height: 400px;
  
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.slide1{
  background-color: black;
  /* display:inline-block; */
  width: 100%;
}

.intro{
  padding-left:30px ;
  padding-right:30px ;
}
.intro h8{
  font-family: cursive;
  font-style: oblique;
}
.featured{
  padding-left:10% ;
  padding-right:10% ; 

  
}
.tour{
    height: 240px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.foot{
  background-color:#e3e7f1;
  width: 100%;
}
.card:hover img{    
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}
#wheretogo .card{
  height: 500px;
}

.btn-outline-success{
  position: absolute;
 bottom:10px;
}
.card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .carousel-item img{
      height:200px;
  }
  .col-sm-2{
      display: none !important;
  }
  form{
      margin-bottom: 10px;
  }
  body{
    overflow-x: hidden !important;
}
}