*{
    padding: 0;
    margin: 0;
   } 
body{
    overflow-x: hidden;
}
.foot{
    background-color:#e3e7f1;
    width: 100%;
}
.fa{
    font-size:30px !important;
    margin-right: 10px;
}

/* above for all css */
.slide1{
  background-color: black;
  display:inline-block;
}

.explore{
    background-color: black;
    padding-top: 50px;
}
h1,h2{
    color: white;
    font-style:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.explore p{
    color: white;
    font-family: cursive;
    

}
.carousel-item img{
    height:500px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.card:hover img{    
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


 